@{
	ViewData["Title"] = "Team Members";
}

@* <div class="heading-and-btn"> *@
@* 	<h2>@ViewData["Title"]</h2> *@
@* 	<button class="btn btn-blue btn-blue:hover"><i class="fa-sharp fa-solid fa-plus"></i>Add Project</button> *@
@* </div> *@

<section id="team-members">
	<header class="heading-and-btn">
		<h2>Team Members</h2>
		<button type="button" class="btn btn-blue btn-blue:hover"><i class="fa-sharp fa-solid fa-plus"></i>Add Members</button>
	</header>
</section>
